body{
    margin: 0;
    overflow-x: hidden;
    background-color: #f5f5f5;
}
.topnav{
    position: relative;
    width: 100%;
    background-color: #f5f5f5;
    height: 35px;
    display: flex;
    align-items: center;
    
    
}
.logo1{
    
    width: 50%;
    height: auto;
    padding-left: 45px;
    
    display: inline;
}
.services{
    display: flex;
    width: 50%;
    height: auto;
    justify-content: end;
    text-align: end;
    align-items: center;
   
    
   
    
}
.toplogo{

}
.verticalline{
    border-right: 1px solid;
    height: 12px;
    margin: 12px;
}
.link1{
    color: #111111;
    font-size: 12px;
    font-family: "Helvetica Now Text",Helvetica,Arial,sans-serif;
    text-transform: capitalize;
    font-weight: 550;
    text-decoration: none;
    
}
.link2{
    color: #111111;
    font-size: 12px;
    font-family: "Helvetica Now Text",Helvetica,Arial,sans-serif;
    text-transform: capitalize;
    font-weight: 600;
    padding-right: 70px;
    text-decoration: none;
    
}
.nav{
    display: block;
    
    width: 100%;
    height: 70px;
    background-color: white;
    align-items : center;
    display: flex;
    
}
.logo2{
   height: auto;
   width: 23%;
    align-items: center;
    padding-left: 40px;
    
}
.nike{
    width: 80px;
    height: 70px;
}
.category{
  
    justify-content: center;
    
    
    flex-wrap: wrap;
    overflow: hidden;
    width: auto;
    

}
ul{
    list-style: none;
    list-style-type: none;
    overflow:hidden;

}
li{
    display:inline-block;
}
.ser{
    width: 40%;
    height: auto;
    
    justify-content: center;
    align-items: center;
    padding-top: 3px;
    
    
}
.lastlogo{
    width: 30%;
    height: 70px;
    
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    
}
.a1{
    font-family: "Helvetica Now Text",Helvetica,Arial,sans-serif;
    font-size: 16px; 
    padding-left: 15px;
    color: #111111;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
}
.heart{
    width: 30px;
    height: 30px;
    border-radius:30px ;
    
    background-image: url("./img/heartec667039be36.svg");
    background-size: cover;
    margin-right: 8px;
}
.carry{
    width: 30px;
    height: 30px;
    border-radius:30px ;
    
    background-image: url("./img/carrybagc-7d3b3bc27f93.svg");
    background-size: cover;
}
.inputsearch{
    height: 25px;
    border-radius: 24px;
    background-image: url("./img/search-d38e9a62db75.svg");
    background-repeat: no-repeat;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid black;
    background-color: #f5f5f5 ;
}
.inp{
    margin-right: 20px;
}
.session1{
    padding-top: 4%;
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
}
.container{
    width: 80%;
    height: auto;
    margin: auto;
    background-color: #f5f5f5;
    display: flex;
}
.items{
    width: 70%;
    height: auto;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.bill{
    width: 29%;
    height: 300px;
    margin-left: 2%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: white;
}
.carted-items{
    display: flex;
    width: 100%;
    height: auto;
    background-color: white;
    border-bottom: 1px solid #333333;
}
.imgdiv{
    width: 20%;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.imgdiv>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item-deatils{
    width: 79%;
    padding-left: 2%;
    height: auto;
    background-color: white;
    position: relative;
}
.item-deatils>button{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    background-color: #FF9F00;
    color: #ffffff;
    border: none;
}

table{
    width: 100%;
    height: 100%;
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
th{
    color: #878787;
    font-size: 17px;
    
    
}
td{
    color: #212121;
    font-size: 15px;
    
}
.drate{
    color: #388e3c;
}
.dis{
    font-weight: 500;
    color: #388e3c;
}
.tm{
    font-weight: 700;
    font-size: 18px;
}